html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: url("../image/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

#chart-container:empty, #header:empty, #map-container:empty, #period-container:empty, #count-container:empty, #count-container:empty, #yesterday-container:empty {
	display: none;
}

#chart-area:empty {
	display: none;
}

#map-canvas {
	padding: 0;
	height: 100%;
	/*left: 25px; 
	right: 25px; */	
	z-index: 0;
}

#map-container {
	position: relative; 
	/*top: 165px; */
	bottom: 0px; 
	height: 844.047px;
	padding: 15px;
	-webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.col-lg-12 {
	padding: 25px;
}

.photo {
	height: 80px;
}

#period-container {
	height: 297.891px;
	padding: 15px;
}

#period-col {
	height: 100%;
	background: rgba(255, 255, 255, 0.95);
}

#count-container {
	height: 148.938px;
	padding: 15px;
}

#count-col {
	height: 100%;
	background: rgba(255, 255, 255, 0.95);
}

#yesterday-container {
	height: 148.938px;
	padding: 15px;
}

#yesterday-col {
	height: 100%;
	background: rgba(255, 255, 255, 0.95);
}

#chart-container {
	height: 546.141px;
	padding: 15px;
}

#chart-col {
	height: 100%;
	background: rgba(255, 255, 255, 0.95);
}

.container-fluid {
	height: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.header {
	padding-top: 15px;
	z-index: 5;
	height: 148.938px;
	left: 0;
	right: 0;
	width: 100%;
	color: black;
}

#mainHeaderLeft {
	/*opacity: 0.75;*/
	/*width: 24.5%;*/
	position: relative;
	float: left;
	/*background-color: #ffffff;*/
	
}

#logo-area {
	background: rgba(255, 255, 255, 0.95);
	height: 100%;
}

#mainHeaderCenter {
	/*opacity: 0.60;*/
	height: 100%;
	/*width: 50%;*/
	position: relative;
	float: left;
	/*background-color: #ffffff;*/
/*	margin-right: 0.5%;
	margin-left: 0.5%;*/
	/*background: rgba(255, 255, 255, 0.90);*/
	text-align: center;
}

#title {
	font-size: 25px;
	font-weight: bold;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#text-area {
	background: rgba(255, 255, 255, 0.95);
	height: 100%;
}

#slogan {
	width: 100%;
	position: absolute;
	text-align:center;
	bottom: 0px;
}

#mainHeaderRight {
	/*opacity: 0.60;*/
	/*width: 24.5%;*/
	position: relative;
	float: left;
	height: 100%;
	/*background-color: #ffffff;*/
}

#language-area {
	background: rgba(255, 255, 255, 0.95);
	height: 100%;
}

.carousel-indicators li { 
	visibility: hidden; 
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#bike_toggle {
	z-index: 99;
}

.highcharts-container{width:100% !important; height:100% !important;}

.infobox {
    border:2px solid #CBDB2A;
    margin-top: 8px;
    background:#555457;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
}

#totalCount {
	font-weight: bold;
	position: Absolute;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#yesterdayCount {
	font-weight: bold;
	position: Absolute;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.label {
	color: #87888a;
}

#map-expand {
	z-index: 1;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translate(0%, -50%)
}

#lang-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}